<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="Handler" value="C:\Users\TOMER\Documents\cs\ImageServiceFolder\firstToHandle/;
         C:\Users\TOMER\Documents\cs\ImageServiceFolder\seocondToHandle"/>
    <add key="OutputDir" value="C:\Users\TOMER\Documents\cs\ImageServiceFolder\outputdir"/>
    <add key="SourceName" value="MySource"/>
    <add key="LogName" value="MyNewLog"/>
    <add key ="ThumbnailSize"  value ="120"/>
  </appSettings>

</configuration>