<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="Handler" value="C:\Users\Raz Shenkman\Desktop\handle1;C:\Users\Raz Shenkman\Desktop\handle2"/>
    <add key="OutputDir" value="C:\Users\Raz Shenkman\Desktop\output"/>
    <add key="SourceName" value="MySource"/>
    <add key="LogName" value="MyNewLog"/>
    <add key ="ThumbnailSize"  value ="120"/>
  </appSettings>

</configuration>